body {
    background-color: #dddddd;
    font-family: georgia, times;
    margin: 0;
}

.cabecera {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}

.degradado {
background: -webkit-linear-gradient(left, black,  #6e0a02 ); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right,  black, #6e0a02 ); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, black, #6e0a02 ); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, black, #6e0a02 ); /* Standard syntax */
}

.titulo {
    background-color: black;
    color: white;
    padding: 20px;
	width: 100%;
	position: relative;
	text-align: center;
	font-size: 1.2rem;
	background-position-x: 0px;

} 

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #292929;
}

.menu li {
    float: left;
}

.menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

.menu .active {
    background-color: #6e0a02;
}

.cuerpo{
	padding-top: 200px;
}

.izquierda {
	width: 76%;
	float: left;
	padding: 1rem;
}
 
.derecha {
	width: 20%;
	float: right;
	padding: 1rem;
	text-align: center;
}
.derecha p{
	text-align: center;
}

.BannerBlog img {
	width: 250px;
	height: 60px;	
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 1rem;
}

.post{
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	margin: 1rem;
	padding: 1.5rem;
}

.post img{
	width: 30%;
	float: left;
	padding-left:  1rem;
	padding-right:   1rem;
	padding-bottom:   1rem;
}

.post h1{
	color: #6e0a02;
	font-size: 1,1rem;
	padding-left: 1rem;
}

.post p{
	text-align: justify;
}

.post ul{

}


p {

	text-align: justify;
}


.boton_mostrar{
	text-align: right;
	color:#6e0a02;

}
.boton_mostrar a{
	cursor: pointer;
}

#contenido1{
  clear:both;

}
#contenido2{
  clear:both;
}
